@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --hero: 18.6 95% 53.1%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-default bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
  body.mobile-nav-active {
    overflow: hidden;
  }
  input,
  button {
    border-radius: 0.3em;
  }
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: hsl(var(--foreground));
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger {
    padding: 5px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger .line:nth-child(1) {
    height: 2px;
  }

  .hamburger.is-active .line:nth-child(1) {
    height: 2px;
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
